@model AttendanceMarking.Models.Session
@{
	ViewBag.Title = "AddCourse";
	Layout = "~/Views/Shared/Index_LayoutPage1.cshtml";
}

<h2>AddCourse</h2>

<div>
	@using (Html.BeginForm("SaveAddCourse", "CourseCode"))
	{
		<div style="color:red;">@Html.ValidationSummary()</div>
		<div class="row">
			<!--Show details are saved successfully message-->
			<div class="col-lg-12">@ViewBag.Message</div>
			<div class="col-lg-2">@ViewBag.DuplicateMessage</div>
		</div><br />
		<div class="row">
			<div class="col-lg-2">@Html.LabelFor(a => a.SessionId)</div>
			<div class="col-lg-10">@Html.TextBoxFor(a => a.SessionId, new { @class = "form-control" })</div>
		</div><br />
		<div class="row">
			<div class="col-lg-2">@Html.LabelFor(a => a.SessionDescription)</div>
			<div class="col-lg-10">@Html.TextBoxFor(a => a.SessionDescription, new { @class = "form-control" })</div>
		</div><br />
		<div class="row">
			<div class="col-lg-2">@Html.LabelFor(a => a.Skills)</div>
			<div class="col-lg-10">@Html.TextBoxFor(a => a.Skills, new { @class = "form-control" })</div>
		</div><br />
		<div class="row">
			<div class="col-lg-2">@Html.LabelFor(a => a.SessionDate)</div>
			<div class="col-lg-10">@Html.TextBoxFor(a => a.SessionDate, new { @class = "form-control" })</div>
		</div><br />
		<div class="row">
			<div class="col-lg-2">@Html.LabelFor(a => a.SessionTime)</div>
			<div class="col-lg-10">@Html.TextBoxFor(a => a.SessionTime, new { @class = "form-control" })</div>
		</div><br />

		<input type="submit" value="Submit" class="btn btn-primary" /><br />
	}

</div>